<section>
  <h4>Where can I share code?</h4>
  <div class="container-fluid">
    <div class="row images-container">
      <div class="col-4">
        <img src="../../../assets/nativescript-angular.png"/>
      </div>
      <div class="col-4">
        <img src="../../../assets/angular.png"/>
      </div>
      <div class="col-4">
        <img src="../../../assets/electron.png"/>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p>Mobile</p>
      </div>
      <div class="col-4">
        <p>Web</p>
      </div>
      <div class="col-4">
        <p>Desktop</p>
      </div>
    </div>
  </div>
</section>
