<section rvlSlide (show)="nextFragment()" [onShowDelay]="1000" [blur]="false"
         data-background-color="rgb(66,37,117)">
  <div class="ov-borders" rvlFragment>
    <img src="../../../assets/habitica.png" width="400"/>
  </div>
  <!--<div rvlFragment>-->
  <!--<h2>Core</h2>-->
  <!--<h4>Todo app -> Habitica</h4>-->
  <!--<ul>-->
  <!--<li>Habitica is online platform of gamification for your daily habits and todos</li>-->
  <!--<ul>-->
  <!--<li>UI</li>-->
  <!--<li>UX</li>-->
  <!--<li>Cross platform app</li>-->
  <!--</ul>-->
  <!--</ul>-->
  <!--</div>-->
</section>
