img {
  height: 6em;
  border: 2px solid white;
}

img.large {
  height: 10em;
}

.core-row {
  border: 0;
  transition: all .6s ease;
  padding: {
    top: .5em;
    bottom: .5em;
  }
}

.transparent {
  opacity: .6;
}

.transparent::before, .transparent::after {
  opacity: 0;
}

.highlight {
  //border: 1px solid white;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: .6em;
  ul {
    list-style: none;
  }
  &--right {
    align-items: flex-end;

  }
}
