<section data-background-color="rgb(66,37,117)">
  <div class="container-fluid">
    <h4 style="margin-bottom: .5em;">Core module</h4>
    <div class="row">
      <div class="col-6" style="opacity: .6">
        <div class="row">

          <div class="col-8 description description--right">
              <p>Authentication</p>
              <p>Api token interceptor</p>
              <p>Login/Logout actions/effects</p>
          </div>
          <div class="col-4 center">
            <img src="../../../assets/habitica-login.png"/>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4 center">
            <img src="../../../assets/habitica-mobile-tasks.png"/>
          </div>
          <div class="col-8 description">
              <p>User data</p>
              <p>User data model</p>
              <p>Get User actions/effects</p>
          </div>
        </div>

      </div>
      <!--<div class="col-6">-->
      <!--<img class="large" src="../../../assets/user-stats.png"/>-->
      <!--</div>-->
    </div>


    <!--<div rvlFragment></div>-->
    <!--<div rvlFragment></div>-->
    <!--<div rvlFragment></div>-->
    <!--<div rvlFragment></div>-->
  </div>
</section>
