<section>
  <rvl-context-intro></rvl-context-intro>
  <rvl-context-where></rvl-context-where>
  <!--<section>-->
    <!--<h2>Dependencies</h2>-->
  <!--</section>-->
  <!--<section>-->
    <!--<img src="../../../assets/ngrx.png">-->
    <!--<ul>-->
      <!--<li>store</li>-->
      <!--<li>actions</li>-->
      <!--<li>effects</li>-->
    <!--</ul>-->
  <!--</section>-->
  <!--<rvl-context-when></rvl-context-when>-->
  <rvl-context-when-cross-platform></rvl-context-when-cross-platform>
  <rvl-context-when-multi-branding></rvl-context-when-multi-branding>
  <rvl-context-when-api></rvl-context-when-api>

  <section data-background-color="#d14d40">
    <div class="container-fluid">
      <img src="../../../assets/angular-logo-with-text.svg" style="margin-bottom: 1em" width="200">
      <div class="row">
        <div class="col-6 center">
          <ul>
            <li rvlFragment>Generate working app</li>
            <li rvlFragment>Follow best practices</li>
            <li rvlFragment>Schematics</li>
          </ul>
        </div>
        <div class="col-6" rvlFragment>
          <pre><code class="bash">ng new appName --style=scss
ng serve
ng g m &lt;module&gt;
ng g c &lt;module&gt;/&lt;component&gt;
ng g l &lt;lib&gt;</code></pre>
        </div>
      </div>
    </div>
  </section>
  <!--<section data-background-color="white">-->
    <!--<div class="container-fluid">-->
      <!--<img src="../../../assets/nx-logo.png" style="margin-bottom: 1em;" width="150">-->
      <!--<div class="row">-->
        <!--<div class="col-6 center">-->
          <!--<ul>-->
            <!--<li rvlFragment>Extension of Angular CLI</li>-->
            <!--<li rvlFragment>Supports multiple apps</li>-->
            <!--<li rvlFragment>Links libs via TypeScript</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-6" rvlFragment>-->
          <!--<pre><code class="bash">ng new appName &#45;&#45;style=scss-->
<!--ng serve-->
<!--ng g m &lt;module&gt;-->
<!--ng g c &lt;module&gt;/&lt;component&gt;-->
<!--ng g l &lt;lib&gt;</code></pre>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--<rvl-context-how></rvl-context-how>-->
  <rvl-code-categories></rvl-code-categories>

  <!--<section>-->
  <!--<ul>-->
  <!--<li>Show stacks + brands</li>-->
  <!--<ul>-->
  <!--<li>Angular / NativeScript</li>-->
  <!--</ul>-->
  <!--</ul>-->
  <!--</section>-->
  <!--<section>-->
  <!--<ul>-->
  <!--<li>Analyse overlap</li>-->
  <!--<ul>-->
  <!--<li>Habitica Core -> Business functionality</li>-->
  <!--<li>Habitica Features -> State</li>-->
  <!--<li>web + mobile (x2 look and feel)</li>-->
  <!--</ul>-->
  <!--</ul>-->
  <!--</section>-->
  <!--<section>-->
  <!--<ul>-->
  <!--<li>Habitica API</li>-->
  <!--<ul>-->
  <!--<li>Show Habitica account</li>-->
  <!--<li>Login</li>-->
  <!--<li>Get user</li>-->
  <!--<li>Platform independent</li>-->
  <!--<li>habitica modules</li>-->
  <!--<li>monorepo + npm vs nx workspace</li>-->
  <!--</ul>-->
  <!--</ul>-->
  <!--</section>-->
  <!--<section>-->
  <!--<ul>-->
  <!--<li>ng-packagr</li>-->
  <!--<li>ng new -> ng lib -> Habitica core -> ng build -> npm publish</li>-->
  <!--<li>Login example</li>-->
  <!--</ul>-->
  <!--</section>-->
  <!--<section>-->
  <!--<ul>-->
  <!--<li>State</li>-->
  <!--<li>REST API</li>-->
  <!--<ul>-->
  <!--<li>Habits</li>-->
  <!--<li>Dailys</li>-->
  <!--<li>Todos</li>-->
  <!--<li>...</li>-->
  <!--</ul>-->
  <!--<li>ng lib -> Habitica tasks -> ng build -> npm publish</li>-->
  <!--<li>Tasks example</li>-->
  <!--<li>Presentation effects</li>-->
  <!--</ul>-->
  <!--</section>-->
  <!--<section>-->
  <!--<ul>-->
  <!--<li>Look & feel</li>-->
  <!--<li>Cross platform</li>-->
  <!--<li>monorepo + npm vs nx workspace</li>-->
  <!--<li>ng new nx -> ng new habitica-web -> ng new habitica-mobile -> npm i habitica core+tasks x2</li>-->
  <!--<li>Angular material cdk</li>-->
  <!--</ul>-->
  <!--</section>-->
</section>
