<section data-background-color="rgb(66,37,117)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="row core-row center" style="flex-direction: row" [ngClass]="{highlight: highlightCore}">
          <div class="col-6 center">
            <img [ngClass]="{'blur-image': blurImage1}" src="../../../assets/habitica-login.png"/>
            <div rvlFragment (show)="blurImage1 = false" (hide)="blurImage1 = true"></div>
            <p style="position:absolute;" class="fade-up" [autoBack]="true" (show)="blurImage1 = true"  (hide)="blurImage1 = false" rvlFragment>
              Auth</p>
          </div>
          <div class="col-6 center">
            <img [ngClass]="{'blur-image': blurImage2}" src="../../../assets/habitica-mobile-tasks.png"/>
            <div rvlFragment (show)="blurImage2 = false" (hide)="blurImage2 = true"></div>
            <p style="position:absolute;" class="fade-up" [autoBack]="true" (show)="blurImage2 = true"  (hide)="blurImage2 = false" rvlFragment>
              User data</p>
          </div>
          <h4 *ngIf="highlightCore" style="position: absolute; top: -1.2em;">Core</h4>
        </div>
      </div>
      <div class="col-3 center">
        <img [ngClass]="{'blur-image': blurImage3}" src="../../../assets/habitica-mobile-add-tasks.png"/>
        <div rvlFragment (show)="blurImage3 = false" (hide)="blurImage3 = true"></div>
        <div style="position:absolute;" class="fade-up" [autoBack]="true" (show)="blurImage3 = true"  (hide)="blurImage3 = false" rvlFragment>
          <p>Habits</p>
          <p>Dailys</p>
          <p>Todos</p>
        </div>
      </div>
      <div class="col-3 center">
        <img [ngClass]="{'blur-image': blurImage4}" src="../../../assets/habitica-mobile-stats.png"/>
        <div rvlFragment (show)="blurImage4 = false" (hide)="blurImage4 = true"></div>
        <h1 style="position:absolute;" class="fade-up" [autoBack]="true" (show)="blurImage4 = true"  (hide)="blurImage4 = false" rvlFragment>
          ...
        </h1>
      </div>
      <div rvlFragment (show)="highlightCore = true" (hide)="highlightCore = false"></div>
    </div>
  </div>
</section>
