<section rvlSlide="dusk.jpg" class="blur">
  <h2>Identifying the overlap</h2>
  <div class="container-fluid">
    <div class="row images-container">
      <div class="col-4">
        <div class="background">
          <img src="../../../assets/responsive2.png"/>
          <img src="../../../assets/mobile-white.png"/>
        </div>
        <div class="center">
          <p style="font-size: .7em">Multiple platforms</p>
        </div>
      </div>
      <div class="col-4">
        <div class="background two">
          <img src="../../../assets/responsive2.png"/>
        </div>
        <div class="center">
          <p style="font-size: .7em">Multi-branding</p>
        </div>
      </div>
      <div class="col-4">
        <div class="background">
          <img src="../../../assets/api.png"/>
        </div>
        <div class="center">
          <p style="font-size: .7em">API</p>
        </div>
      </div>
    </div>
  </div>
</section>
