<section>
  <h3>Identifying the overlap</h3>
  <div class="container-fluid">
    <div class="row images-container">
      <div class="col-4">
        <div class="background">
          <img src="../../../assets/responsive2.png"/>
          <img src="../../../assets/mobile-white.png"/>
        </div>
        <div class="center">
          <p style="font-size: .8em">Cross platform</p>
        </div>
      </div>
      <div class="col-4">
        <div class="background two">
          <img src="../../../assets/responsive2.png"/>
        </div>
        <div class="center">
          <p style="font-size: .8em">Multi-branding</p>
        </div>
      </div>
      <div class="col-4">
        <div class="background">
          <img src="../../../assets/api.png"/>
        </div>
        <div class="center">
          <p style="font-size: .8em">Public API</p>
        </div>
      </div>
    </div>
  </div>
</section>
