
.code-share-slide {
  &__title {
    color: white !important;
    //position: absolute;
    //
    //top: 40%;
    transition: .8s all ease !important;
  }
  img {
    transition: .8s all ease !important;

  }
}
