<section data-background-color="rgb(66,37,117)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="row core-row center ov-borders" style="flex-direction: row"
             [ngClass]="{visible: fragmentActivated(outerIndex(0)), transparent: fragmentActivated(outerIndex(1))}">
          <div class="col-6 center ov-borders" [ngClass]="{visible: fragmentActive(0, 1)}" style="padding: .5em 0 .5em 0">
            <img [ngClass]="{'blur-image': !fragmentActive(0)}" src="../../../assets/habitica-login.png"/>
            <div rvlFragment></div>
            <p style="position:absolute;" class="fade-up" rvlFragment>Auth</p>
          </div>
          <div class="col-6 center ov-borders" [ngClass]="{visible: fragmentActive(2, 3)}" style="padding: .5em 0 .5em 0">
            <img [ngClass]="{'blur-image': !fragmentActive(2)}" src="../../../assets/habitica-mobile-tasks.png"/>
            <div rvlFragment></div>
            <p style="position:absolute;" class="fade-up" rvlFragment>
              User</p>
          </div>
          <h4 *ngIf="fragmentActivated(outerIndex(0))" style="position: absolute; top: -1.4em;">Core</h4>
        </div>
      </div>
      <div class="col-3 core-row center ov-borders"
           [ngClass]="{visible: fragmentActivated(outerIndex(1)), transparent: fragmentActivated(outerIndex(2))}">
        <div class=" ov-borders" [ngClass]="{visible: fragmentActive(4, 5)}" style="padding: .5em 0 .5em 0">
          <img [ngClass]="{'blur-image': !fragmentActive(4)}" src="../../../assets/habitica-mobile-add-tasks.png"/>
        </div>
        <div rvlFragment></div>
        <div style="position:absolute;" class="fade-up" rvlFragment>
          <p>Habits</p>
          <p>Dailys</p>
          <p>To-dos</p>
        </div>
        <h4 *ngIf="fragmentActivated(outerIndex(1))" style="position: absolute; top: -1.4em; font-size: .8em">feature</h4>
      </div>
      <div class="col-3 core-row center ov-borders"
           [ngClass]="{visible: fragmentActivated(outerIndex(2)), transparent: fragmentActivated(outerIndex(3))}">
        <div class=" ov-borders" [ngClass]="{visible: fragmentActive(6, 7)}" style="padding: .5em 0 .5em 0">
          <img [ngClass]="{'blur-image': !fragmentActive(6)}" src="../../../assets/habitica-mobile-stats.png"/>
        </div>
        <div rvlFragment></div>

        <h1 style="position:absolute;" class="fade-up" rvlFragment>
          ...
        </h1>
        <h4 *ngIf="fragmentActivated(outerIndex(2))" style="position: absolute; top: -1.4em; font-size: .8em">...features</h4>
      </div>
      <div rvlFragment></div>
      <div rvlFragment></div>
      <div rvlFragment></div>
      <div rvlFragment></div>
      <div rvlFragment [autoNext]="true" [nextDelay]="1000"></div>
    </div>
  </div>
</section>
