<section class="blur" data-background-image="assets/intro.jpeg" data-hide-logo="true">
  <div class="intro-myself">
    <div class="intro-slide__profile-pic fragment">
      <img class="normal" src="assets/profile.jpg" width="200">
    </div>
    <div class="intro-slide__profile-details fragment">
      <p class="intro-slide__profile-name">Rachèl Heimbach</p>
      <p class="intro-slide__profile-title">Fullstack developer</p>
      <p class="intro-slide__profile-title">At</p>
      <p class="intro-slide__profile-company">
        <span class="ov-borders scale-up inline">
            <img class="normal" src="assets/openvalue-white.png" width="160"/>
        </span>
      </p>
    </div>
  </div>
</section>
