<section rvlSlide="intro.jpeg" data-hide-logo="true">
  <div class="profile-image fragment">
    <img src="../../assets/profile.jpg">
  </div>
  <div class="profile-description fragment">
    <p class="profile-description__name">Rachèl Heimbach</p>
    <p class="profile-description__title">Fullstack developer</p>
    <p class="profile-description__company">
        <span class="ov-borders scale-up">
            <img src="../../assets/openvalue-white.png"/>
        </span>
    </p>
  </div>
</section>
