<section rvlSlide="cold-dark.jpg" class="blur">
  <h3>Core business logic</h3>
  <div class="container-fluid">
    <div class="row images-container">
      <div class="col-2 center">
      </div>
      <div class="col-4 center">
        <div class="background">
          <img src="../../../assets/api.png"/>
        </div>
      </div>
      <div class="col-5 center">
        <ul>
          <li>Authentication</li>
          <li>Http headers</li>
          <li>Backend communication</li>
        </ul>
      </div>
    </div>
  </div>
</section>
