<section>
  <rvl-core-intro></rvl-core-intro>
  <rvl-core-what></rvl-core-what>
  <rvl-core-api></rvl-core-api>
  <section data-background-color="rgb(66,37,117)">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="img-container">
            <img src="../../../assets/responsive2.png"/>
          </div>
          <h4>Client</h4>
        </div>
        <div class="col-4">
          <div class="img-container img-container--smaller">
            <img src="../../../assets/lock.svg"/>
          </div>
          <p>API TOKEN</p>
          <div class="img-container img-container--smaller">
            <img src="../../../assets/user.svg"/>
          </div>
          <h4>Data</h4>
          <div class="img-container img-container--smaller">
            <img src="../../../assets/settings.svg"/>
          </div>
          <h4>Features</h4>
          <!--<ul>-->
          <!--<li>Auth service</li>-->
          <!--<li>Http interceptor</li>-->
          <!--</ul>-->
        </div>

        <div class="col-4">
          <div class="img-container">
            <img class="habitica" src="../../../assets/habitica.png"/>
          </div>
          <h4>REST</h4>
        </div>
      </div>

    </div>
  </section>
  <rvl-core-features></rvl-core-features>

  <rvl-core-module></rvl-core-module>
  <section>
    <p>Angular cli repo (versioning)</p>
    <p>ng new habitica-repo</p>
    <p>ng g lib core</p>
    <p>npm i --save @ngrx/store</p>
    <p>npm i --save @ngrx/effects</p>
  </section>
  <section>
    <p>Demo services</p>
    <p>Demo interceptor</p>
    <p>Demo actions/effects</p>
    <p>Demo public api</p>
    <p>Publish</p>
    <p>Install here</p>
    <p>Create effect here</p>
    <p>Demo here</p>
    <input/>
    <input/>
    <button>Login</button>
  </section>
  <!--<section data-background-color="rgb(66,37,117)">-->
  <!--<h4>Angular modules</h4>-->
  <!--<h4>@rachnerd/ng-habitica-core</h4>-->
  <!--<h4>@rachnerd/ng-habitica-tasks</h4>-->
  <!--<h4>@rachnerd/ng-habitica-...</h4>-->
  <!--</section>-->
  <!--<section data-background-color="rgb(66,37,117)">-->
  <!--<h4>Angular cli repo vs nx workspace</h4>-->
  <!--<h4>Versioning</h4>-->
  <!--</section>-->
</section>
