<section>
  <rvl-core-intro></rvl-core-intro>
  <rvl-core-what></rvl-core-what>
  <rvl-core-api></rvl-core-api>
  <rvl-core-login></rvl-core-login>

  <section data-background-color="rgb(66,37,117)">
    <h4>Angular modules</h4>
    <h4>@rachnerd/ng-habitica-core</h4>
    <h4>@rachnerd/ng-habitica-tasks</h4>
    <h4>@rachnerd/ng-habitica-...</h4>
  </section>
  <section data-background-color="rgb(66,37,117)">
    <h4>Angular cli repo vs nx workspace</h4>
    <h4>Versioning</h4>
  </section>
</section>
