<section>
  <rvl-implementation-intro></rvl-implementation-intro>
  <section data-background-color="rgb(7, 52, 106)">
    <div class="container-fluid">
      <h4>Cross platform</h4>
      <div class="row">
        <div class="col-4 center">

          <img height="200" src="../../../assets/angular.png">
        </div>
        <div class="col-4">
          <ul>
            <li>Look & feel</li>
            <li>Business logic</li>
            <li>State</li>
          </ul>
        </div>
        <div class="col-4 center">

          <img height="220" src="../../../assets/nativescript-angular.png">
        </div>

      </div>

    </div>
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <h3>Cross platform</h3>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <div style="height: 44px">
            <img height="40" src="../../../assets/angular.png"/>
          </div>
          <p>Y</p>
          <p>Y</p>
          <p>Y</p>
          <p>X</p>
        </div>
        <div class="col-8">

          <div style="height: 44px">
            <h4>VS</h4>
          </div>
          <p>TypeScript</p>
          <p>DOM</p>
          <p>CSS</p>
          <p>Android & iOS</p>
        </div>
        <div class="col-2">
          <div style="height: 44px">
            <img height="44" src="../../../assets/nativescript-angular.png"/>
          </div>
          <p>Y</p>
          <p>X</p>
          <p>Y/X</p>
          <p>Y</p>
        </div>
      </div>
    </div>
    <!--<h3>ng-packagr</h3>-->
    <!--<p>"Transpile your libraries to Angular Package Format"</p>-->
  </section>
  <section rvlSlide="cold-dark.jpg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 center" style="font-size: .7em;">
          <h3>Create repo</h3>
          <pre><code class="bash">npm install -g @angular/cli
npm install -g @nativescript/schematics
npm install -g nativescript
ng new --c=@nativescript/schematics
       --name=habitica --shared
       --style=scss --prefix=hab</code></pre>
        </div>
        <div class="col-6 center">
          <img style="height: 12em;" src="../../../assets/app-repo-init.png" alt="repo image">
        </div>
      </div>
    </div>
  </section>
  <section rvlSlide="cold-dark.jpg">
    <h2>DEMO</h2>
  </section>
  <section rvlSlide="cold-dark.jpg">
    <h2>Create login component</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4 center">
          <ul>
            <li>Login routes</li>
            <li>Login state</li>
            <li>Login form</li>
            <li>Login effects</li>
            <li>@habitica/core</li>
          </ul>
        </div>
        <div class="col-4 center" >
          <img style="height: 500px" src="../../../assets/login-component.png" alt="repo image">
        </div>
      </div>
    </div>
  </section>
  <section rvlSlide="cold-dark.jpg">
    <h2>DEMO</h2>
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <h2>What next?</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 center">
          <ul>
            <li>Successful login</li>
            <ul>
              <li>Persist API token + User id</li>
            </ul>
            <li>Successful user fetch</li>
            <ul>
              <li>Fetch habits/dailys/todos</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
