<section>
  <rvl-implementation-intro></rvl-implementation-intro>
  <section data-background-color="rgb(7, 52, 106)">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 center">

          <img height="200" src="../../../assets/angular.png">
        </div>
        <div class="col-4">
          <ul>
            <li>Look & feel</li>
            <li>Business logic</li>
            <li>State</li>
          </ul>
        </div>
        <div class="col-4 center">

          <img height="220" src="../../../assets/nativescript-angular.png">
        </div>

      </div>

    </div>
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <h3>Cross platform</h3>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <div style="height: 44px">
            <img height="40" src="../../../assets/angular.png"/>
          </div>
          <p>Y</p>
          <p>Y</p>
          <p>Y</p>
          <p>X</p>
        </div>
        <div class="col-8">

          <div style="height: 44px">
            <h4>VS</h4>
          </div>
          <p>TypeScript</p>
          <p>DOM</p>
          <p>CSS</p>
          <p>Android & iOS</p>
        </div>
        <div class="col-2">
          <div style="height: 44px">
            <img height="44" src="../../../assets/nativescript-angular.png"/>
          </div>
          <p>Y</p>
          <p>X</p>
          <p>Y/X</p>
          <p>Y</p>
        </div>
      </div>
    </div>
    <!--<h3>ng-packagr</h3>-->
    <!--<p>"Transpile your libraries to Angular Package Format"</p>-->
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <h2>Create Nx repo</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 center">
          <pre><code class="bash">ng new ng-habitica
npm i --save @ngrx/store
npm i --save @ngrx/effects
ng g lib core</code></pre>
        </div>
        <div class="col-6 center" style="height: 300px">
          <img alt="repo image">
        </div>
      </div>
    </div>
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <h2>DEMO</h2>
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <h2>Create login component</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 center">
          <ul>
            <li>Login form</li>
            <li>Login state</li>
          </ul>
        </div>
        <div class="col-4 center" style="height: 200px">
          <img alt="repo image">
        </div>
      </div>
    </div>
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <h2>DEMO</h2>
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <h2>Introduce logic</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 center">
          <ul>
            <li>Successful login</li>
            <ul>
              <li>Persist API token + User id</li>
              <li>Fetch user</li>
            </ul>
            <li>Successful user fetch</li>
            <ul>
              <li>Fetch habits/dailys/todos</li>
            </ul>
          </ul>
        </div>
        <div class="col-4 center" style="height: 300px">
          <img alt="repo image">
        </div>
      </div>
    </div>
  </section>
  <section data-background-color="rgb(7, 52, 106)">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <h4>Web</h4>
          <ul>
            <li>Login HTML</li>
            <li>DOM</li>
            <li>Local storage</li>
            <li>...</li>
          </ul>
        </div>
        <div class="col-4">
          <h4>Shared</h4>
          <ul>
            <li>Login state</li>
            <li>Login effects</li>
            <li>...</li>
            <li>Login route</li>
            <li>Login guard</li>
            <li>...</li>
          </ul>

        </div>
        <div class="col-4">
          <h4>Mobile</h4>
          <ul>
            <li>Login XML</li>
            <li>Native</li>
            <li>App settings</li>
            <li>...</li>
          </ul>

        </div>
      </div>
    </div>
  </section>

</section>
