$sphere-opacity: 0.8;
$core: rgb(66, 37, 117);
$core-transparent: rgba(66, 37, 117, $sphere-opacity);
$brand1: rgb(179, 146, 172);
$brand1-transparent: rgba(179, 146, 172, $sphere-opacity);
$brand2: rgb(80, 109, 112);
$brand2-transparent: rgba(80, 109, 112, $sphere-opacity);
