<section rvlSlide="app-development.jpg" class="blur">
  <h3>Cross platform</h3>
  <div class="container-fluid">
    <div class="row images-container">
      <div class="col-1">
      </div>
      <div class="col-5">
        <div class="background">
          <img src="../../../assets/responsive2.png"/>
          <img src="../../../assets/mobile-white.png"/>
        </div>
        <div class="center">
          <p style="font-size: .8em">Web / Mobile</p>
        </div>
      </div>
      <div class="col-5 center">
        <ul>
          <li>Business logic</li>
          <li>State</li>
          <li>Flows</li>
        </ul>
      </div>
    </div>
  </div>
</section>
